.searchContainer {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.notFound {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.notFoundImg {
	width: 200px;
}

.notFoundMsg {
	font-size: 25px;
	font-weight: 600;
	letter-spacing: 0.9px;
}
