.topBar {
	width: 100%;
	height: 15px;
	background-color: rgba(0, 0, 0, 0.719);
	color: white;
	display: flex;
	font-size: 10px;
	font-weight: 300;
	display: flex;
	padding: 0 20px;
	justify-content: space-between;
}

@media only screen and (max-width: 953px) {
	.topBar {
		display: none;
	}
}
