.card {
	width: 250px;
	height: auto;
	margin: 10px;
}

.cardContainer {
	width: 250px;
	height: 420px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.cardImg {
	width: 213px;
	height: 300px;
	cursor: zoom-in;
}

.cardTitle {
	width: 100%;
	height: 20px;
	text-align: center;
	text-transform: uppercase;
}

.cardPrice {
	width: 90%;
	height: 32px;
	text-align: center;
	font-weight: 800;
	line-height: 30px;
}

.boxModal {
	max-width: 700px;
	min-width: 400px;
	position: absolute;
	padding: 40px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.658);
	display: flex;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
}

.cardImgOnModal {
	width: 100%;
}
