.toolbarContainer {
	position: sticky;
	top: 0px;
	z-index: 1000;
	background-color: #d3d3d3 !important;
}

.MuiToolbar-regular {
	background-color: #d3d3d3 !important;
}

.css-96uuyl {
	background-color: #d3d3d3 !important;
}
.css-1gsv261 {
	border: none !important;
}

@media only screen and (max-width: 635px) {
	.toolbarAppBar {
		padding-left: 50px;
		background-color: #d3d3d3 !important;
	}

	.MuiToolbar-regular {
		background-color: #d3d3d3 !important;
	}
}
