.homeContainer {
	width: 98vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.homeTitle {
	font-size: calc(40px + 1vw);
	font-weight: 800;
	letter-spacing: 0.9px;
	color: white;
	-webkit-text-stroke: 2px black;
}

.hiddenH1 {
	position: absolute;
	top: -300px;
	opacity: 0;
}
