.logoName {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	color: black;
	width: 450px;
	text-align: start;
	text-transform: uppercase;
	text-decoration: none;
}

.logoImg {
	width: 150px;
	height: auto;
	display: flex;
}

.logoImgResponsive {
	width: 40px;
	height: auto;
	display: none;
}

.logoText {
	padding: 0px 10px;
	letter-spacing: 1px;
}

@media only screen and (max-width: 635px) {
	.logoName {
		width: 100px;
	}

	.logoImg {
		display: none;
	}

	.logoImgResponsive {
		display: flex;
	}

	.logoText {
		display: none;
	}
}
