.contactForm {
	width: min(360px, 100%);
}

.MuiStepIcon-root {
	color: black !important;
}

.MuiButton-root {
	background-color: black !important;
	color: white !important;
}

.spacer {
	width: 359px;
}

.inputHidden {
	display: none;
}

.messageContainer {
	width: 100%;
}

.MuiStepper-root {
	width: 100%;
}
