.MuiTabs-indicator {
	background-color: black !important;
}

.Mui-selected {
	color: black !important ;
}

.MuiBox-root {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.MuiTypography-root {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tabsBar {
	background-color: white;
	z-index: 999;
	position: sticky !important;
	top: 62px;
}

.appBarResponsive {
	display: none !important;
}

@media only screen and (max-width: 635px) {
	.tabsContainer {
		display: none !important;
	}

	.MuiTabs-indicator {
		display: none !important;
	}

	.appBarResponsive {
		display: flex !important;
		position: fixed;
		bottom: 0 !important;
		top: auto !important;
		background-color: black !important;
	}

	.tabsListComponent {
		position: fixed;
		bottom: -400px;
		background-color: white;
		width: 100%;
		left: 0px;
		padding-bottom: 40px;
		z-index: 999;
		animation: fadeInBottom 0.5s linear forwards;
	}

	.MuiTabs-flexContainer {
		flex-direction: column;
		z-index: 999;
		background-color: white;
		align-items: center;
	}

	.MuiTab-root {
		width: 100% !important;
	}
}

@keyframes fadeInBottom {
	from {
		bottom: -100px;
	}
	to {
		bottom: 55px;
	}
}
