.MuiTabs-indicator {
	background-color: black !important;
}

.Mui-selected {
	color: black !important ;
}

.MuiBox-root {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.MuiTypography-root {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tabsBar {
	background-color: white;
	z-index: 999;
	position: sticky !important;
	top: 62px;
}

.appBarResponsive {
	display: none !important;
}
.menuIcon {
	display: none !important;
}

@media only screen and (max-width: 635px) {
	.menuIcon {
		display: flex !important;
		position: fixed;
		top: 10px;
		left: 10px;
		z-index: 1000;
	}
	.tabsContainer {
		display: none !important;
	}

	.MuiTabs-indicator {
		display: none !important;
	}

	.appBarResponsive {
		display: flex !important;
		position: fixed;
		bottom: 0 !important;
		top: auto !important;
		background-color: black !important;
	}

	.tabsListComponent {
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: white;
		z-index: 999;
		animation: fadeInBottom 0.1s linear forwards;
	}

	.MuiTabs-flexContainer {
		flex-direction: column;
		z-index: 999;
		background-color: white;
		align-items: center;
	}

	.MuiTab-root {
		width: 100% !important;
	}
}

@keyframes fadeInBottom {
	from {
		top: -200px;
	}
	to {
		top: 55px;
	}
}
