.cartContentContainer {
	width: 350px;
	flex-direction: column;
	position: relative;
}

.MuiListItemText-primary {
	width: 100% !important;
}

.buttonFinishCart {
	background-color: rgba(40, 167, 40, 0.842) !important;
}

.listItemCartContant {
	align-items: flex-end !important;
}
