.cartContentContainer {
	min-width: 340px;
	flex-direction: column;
	position: relative;
	padding-bottom: 15px;
}

.MuiListItemText-primary {
	width: 100% !important;
}

.buttonFinishCart {
	border: 3px solid rgb(30, 235, 75) !important;
}
.buttonFinishCartRed {
	border: 3px solid rgb(236, 26, 37) !important;
}

.listItemCartContant {
	justify-content: space-between !important;
	align-items: flex-end !important;
}
