.swiperCardImage {
	width: 230px;
	height: 300px;
}

.cardImg {
	width: 230px !important;
	height: 300px !important;
	align-self: flex-start !important;
	cursor: zoom-in !important;
	aspect-ratio: 16 / 9 !important;
}

/* MODAL  */

.iconCloseModal {
	margin-bottom: 15px;
	border-radius: 50%;
	border: 1px solid white;
	cursor: pointer;
}

.cardImgOnModal {
	width: 100%;
	height: 100%;
	align-self: center;
	aspect-ratio: 16 / 9;
	cursor: default;
}

.swiperCardModal {
	max-width: 350px;
	height: 450px !important;
}

.swiperCardImageSlideModal {
	max-width: 350px;
	height: auto !important;

	/* width: 100% !important;
	height: 350px !important; */
}
