.swiperCardImage {
	width: 230px;
	height: 300px;
}

.cardImgOnModal {
	width: 80% !important;
	height: auto !important;
	align-self: flex-start !important;
	aspect-ratio: unset !important;
	cursor: default !important;
}

.swiperCardModal {
	max-width: 400px;
	height: auto;
}

.cardImg {
	width: 230px !important;
	height: 300px !important;
	align-self: flex-start !important;
	cursor: zoom-in !important;
	aspect-ratio: 16 / 9 !important;
}

.swiperCardImageSlideModal {
	width: 100% !important;
	height: 350px !important;
}
