.app {
	width: calc(100vw - (100vw - 100%));
	min-height: 100vh;
	position: relative;
}

.sectionContainer {
	width: 100%;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	font-size: calc(35px + 1vw);
	font-weight: 100;
	letter-spacing: 0.9px;
	color: black;
	text-align: center;
}

.hiddenH1 {
	position: absolute;
	top: -300px;
	opacity: 0;
}
